app/cache/**/*

log
.buildpath
.project
.settings/
Makefile
lib/Makefile
app/Makefile
app/config.php
app/config/databases.xml
app/config/icinga.xml
app/config/factories.xml
app/config/logging.xml
app/config/settings.xml
app/config/translation.xml
app/data/db/
app/modules/Api/config/access.xml
app/modules/Api/config/module.xml
app/modules/AppKit/config/auth.xml
app/modules/AppKit/config/module.xml
app/modules/LConf/config/module.xml
app/modules/LConf/lib/ldapConfig/objectDefaultAttributes.ini
app/modules/LConf/lib/ldapConfig/staticObjects.ini
bin/Makefile
bin/clearcache.sh
etc/apache2/lconf-web.conf
etc/build.properties
etc/conf.d/access.xml
etc/conf.d/databases.xml
pub/.htaccess
pub/Makefile
config.log
config.status
autom4te.cache
