app/cache/**/*

log
.buildpath
.project
.settings/
Makefile
lib/Makefile
app/Makefile
app/config/databases.xml
app/config/icinga.xml
app/config/logging.xml
app/config/settings.xml
app/config/translation.xml
app/data/db/
app/modules/Api/config/access.xml
app/modules/AppKit/config/auth.xml
app/modules/AppKit/config/module.xml
bin/Makefile
etc/apache2/lconf-web.conf
etc/build.properties
pub/.htaccess
pub/Makefile
config.log
config.status
