<?xml version="1.0" encoding="UTF-8"?>
<ae:configurations xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0" xmlns="http://icinga.org/icinga/config/global/menu/1.0">
    <ae:configuration>
        <menu id="menu_lconf">
            <credential>lconf.user</credential>
            <preferposition>before:menu_admin</preferposition>
             <icon>lconf-logo</icon>
            <caption>LDAP Editor</caption>
            <route target="new">
                modules.lconf.main
            </route>
        </menu>    
        <menu id="menu_lconf_connectionmgr">
            <preferposition>after:menu_lconf</preferposition>
            <credential>lconf.user</credential>
            <icon>icinga-icon-user</icon>
            <caption>Connections</caption>
            <route target="new">
                modules.lconf.admin
            </route>
        </menu>     
        <menu id="menu_lconf_about">
            <preferposition>last</preferposition>

            <icon>icinga-icon-help</icon>
            <caption>About</caption>
            <route target="window" title="About lconf" id="icinga-window-lconf-about">
                modules.lconf.about
            </route>
        </menu>
        

    </ae:configuration>
</ae:configurations>

