<?xml version="1.0" encoding="UTF-8"?>
<ae:configurations xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0" xmlns="http://icinga.org/icinga/config/global/menu/1.0">
    <ae:configuration>
        <menu id="menu_lconf">
            <credential>lconf.user</credential>
            <preferposition>before:menu_admin</preferposition>
            <icon>icinga-icon-chart-organisation</icon>
            <caption>LDAP Editor</caption>
            <route target="new">
                modules.lconf.main
            </route>
        </menu>
    </ae:configuration>
</ae:configurations>

